* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active {outline: none;}
a :focus, a :active {outline: none;}

nav,footer,header,aside{display: block;}

body{
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: monospace;
   
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a :visited{text-decoration: none;}
a :hover{text-decoration: none;}
ul li{list-style: none;}
a{font-family: inherit; color: inherit; font-size: inherit;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

.header{
    background-image: url(..//img/header_bg_img.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}

.header__top {
    
    
    
    
} 

.header__conteiner {
    
}
.menu{
    
}
.menu__list{
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: white;
    
}
.menu__list-item{
    color: white;
}
.menu__link{}

.header_logo{
    
}
.logo{
    
}
.logo__link{
    
}
.logo__img{
    
}

.header__personal{} 
.personal{}
.personal__list{}
.personal__list-item{}
.personal__link{}
.personal__img{}

.header__social{} 
.social{}
.social__list{}
.social__list-item{}
.social__link{}
.social__img{}

.header__btn{
    width: 280px;
    height: 70px;
    background-color: #0aa566;
    border-radius: 35px;
    font-family: Muli;
    font-size: 24px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #ffffff;
}
.btn{}
.header__btn--green{}
.header__title{
    font-size: 45px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: white;
} 
.title{}


.smoothies{
    padding-top: 98px;
}

.smoothies__title {
    font-family: Muli;
    font-size: 50px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #f7ae3b;
    text-align: center;
    padding-bottom: 55px;
}

.smoothies__text{
    font-family: Muli;
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    color: #1e1e1e;
    text-align: center;
}

.smoothies__content{
    font-size: 25px;
   
}

.smoothies__cards{
       
}

.smoothies__caption{
    font-family: Muli;
    
    line-height: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #f2612d;    
}

.about{
    background-color: #16816f;
    display: flex;
}

.about__box {

}



.about__img{
    
}

.about__content{
    padding-top: 97px;
    padding-left: 142px;
}

.about__title{
    font-family: Muli;
    font-size: 55px;
    line-height: 60px;
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #ffffff;  

}

.about__span{
    color: #cae941;
}

.about__list{

}

.about__item{
    font-family: Muli;
    font-size: 21px;
    line-height: 22px;
    font-weight: 800;
    color: #ffffff;
}